{
  "app": {
    "signature": "YOUR_APP_SIGNATURE"
  },
  "cors": {
    "allowed_headers": "Content-Type,X-Auth-Token,Origin,Authorization,Access-Control-Allow-Headers,Cache-Control,X-Requested-With",
    "allowed_methods": "GET,DELETE,PUT,OPTIONS,POST,PATCH",
    "allowed_origins": "*"
  },
  "permission": {
    "all": "admin,receptionist,doctor",
    "admin": "admin",
    "receptionist": "admin,receptionist",
    "doctor": "admin,doctor"
  },
  "postgresql": {
    "address": "YOUR_POSTGRESQL_ADDRESS",
    "database": "YOUR_POSTGRESQL_DATABASE",
    "pass": "YOUR_POSTGRESQL_PASSWORD",
    "port": "YOUR_POSTGRESQL_PORT",
    "user": "YOUR_POSTGRESQL_USER"
  },
  "server": {
    "address": "YOUR_SERVER_ADDRESS"
  }
}
